/* --------------------------
 break piont
-------------------------- */
/* --------------------------
 pixel ratio
-------------------------- */
/* base width */
/* breakpoint
0 <= smart phone < 768px
768px <= tablet < 992px
992px <= desktop < 1200px
1200px <= wide screen
 */
/* color */
/* hover style (use @extend) */
.price-table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  max-width: 1024px;
  margin-top: 48px;
  border: 1px solid #c6c6c6;
  color: #404040;
}
.price-table th, .price-table td {
  border: 1px solid #c6c6c6;
  background: #fff;
  font-size: .93rem;
  font-weight: normal;
}
.price-table thead th, .price-table thead td {
  width: 25%;
  padding: 22px 16px;
  background: #08377f;
  border-color: #fff;
  border-bottom: none;
  color: #fff;
  font-size: 1.143rem;
}
.price-table thead th:first-child, .price-table thead td:first-child {
  text-align: left;
}
.price-table tbody th {
  padding: 14px 16px;
  text-align: left;
}
.price-table tbody td {
  padding: 14px 16px;
  text-align: center;
}
.price-table .price-table__em th, .price-table .price-table__em td {
  padding: 22px 16px;
  background: #cde5fa;
  color: #08377f;
}
.price-table .price-table__include {
  color: #08377f;
  font-size: 1.143rem;
}
.price-table .price-table__include span {
  display: block;
  color: #404040;
  font-size: .69rem;
}
.price-table .price-table__not-include {
  background-color: #fbfbfb;
  color: #b1b1b1;
}
@media screen and (max-width: 767px) {
  .price-table {
    min-width: 700px;
  }
  .price-table__wrap {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
  }
  .price-table__scroll {
    min-width: 700px;
  }
}

.section-wrap + .price-wrap {
  padding-top: 0;
}

.price-question {
  max-width: 1024px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 40px;
  background: #f2f2f2;
}
.price-question dl {
  margin: 0;
  padding-top: 16px;
}
.price-question dl + dl {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #ccc;
}
.price-question dt {
  padding-left: 10px;
  border-left: 4px solid #0058a5;
  font-weight: bold;
}
.price-question dd {
  margin: 0;
  padding: 16px 0 0;
}

.procedure-flow {
  margin: 0;
  padding: 0;
  list-style: none;
}
.procedure-flow__item {
  position: relative;
  padding: 16px 40px 48px;
  border: 1px solid #999;
}
.procedure-flow__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 6px;
  height: 80px;
  background: #0058a5;
}
.procedure-flow__item + li {
  margin-top: 32px;
}
.procedure-flow__item + li:after {
  content: "";
  position: absolute;
  top: -48px;
  left: 50%;
  width: 106px;
  height: 58px;
  margin-left: -53px;
  background: url(../img/arrow_bottom@2x.png) no-repeat center top;
  background-size: 106px;
}
.procedure-flow__title {
  padding-top: 28px;
  color: #0058a5;
  font-size: 2rem;
}
.procedure-flow__text {
  margin-top: 16px;
  color: #404040;
}
@media screen and (max-width: 767px) {
  .procedure-flow {
    padding: 0 14px;
  }
  .procedure-flow__item {
    padding: 16px 24px 32px;
  }
  .procedure-flow__item:before {
    width: 4px;
    height: 68px;
  }
  .procedure-flow__item + li:after {
    background-size: 70px;
    top: -40px;
  }
  .procedure-flow__title {
    padding-top: 20px;
    font-size: 1.8rem;
  }
}


